
<form>
    
    <h2>Sign in</h2>
    <div id="resulBox" style="color:blue;font-size: 1.3rem;"></div>
    <div id="errBox" class="error"></div>
    <label for="email">email :</label>
    <input type="email"  name="email" required id="email">
    <div class="email error"></div>
    <label for="password">password :</label>
    <input type="password" required name="password" id="password">
    <div class="password error"></div>
    <button class="btn">Sign in</button>
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    const resulBox=document.querySelector("#resulBox")
    const errBox=document.querySelector("div#errBox")
    errBox.textContent=""
    try {
      const res = await fetch("/signin", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
            email,
            password
        }),
      });
      const data = await res.json();
      if(!data.success){
        console.log(data)
      errBox.textContent=data.message
      }
      if(data.success){
      resulBox.textContent="successfully login"
      setTimeout(()=>{
          location.replace("/")
      },1000)
      }
    } catch (e) {
      console.log(e)
    }
  });
</script>